*{
    margin: 1px;
    padding: 1px;
}
body{
    background-color: #d6bb6b;
}

.nav-tex{
    padding-right: 3.5rem;
}
.divbanner{
    justify-content: center;
}

.banner{
    width: 100%;
    height: 18.75rem;
}



/* Footer */

.section_footer{
    width: 12.5rem;
}
.info_local{
    display: grid;
}
.img_ubi {
    width: 25px;
    height: 25px;
    padding-right: 5px;
}
.img_wp{
    width: 25px;
    height: 25px;
    padding-right: 5px;
}
.img_insta{
    width: 25px;
    height: 25px;
    padding-right: 5px;
}
.info_local a{
    text-decoration: none;
    color: black;
}
.copy{
    text-align: center;
    font-weight: bold;
}
/* PRODUCTOS */
.titulo-producto{
    text-align: center;
    color: #e2e3e7;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, 250px);
    
}
/* .aceitecoco{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;

}
.img_aceitecoco{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_aceitecoco:hover{
    transform: scale(1.2,1.2);
}
/* .aceiteoliva{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_aceiteoliva{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_aceiteoliva:hover{
    transform: scale(1.2,1.2);
}
/* .alfajores{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_alfajores{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_alfajores:hover{
    transform: scale(1.2,1.2);
}
/* .mermelada{
    padding-top: 15px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_mermelada{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_mermelada:hover{
    transform: scale(1.2,1.2);
}
/* .galletitas{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_galletitas{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_galletitas:hover{
    transform: scale(1.2,1.2);
}
/* .miniscones{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_miniscones{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_miniscones:hover{
    transform: scale(1.2,1.2);
}
/* .alfajores{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_alfajores{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_alfajores:hover{
    transform: scale(1.2,1.2);
}
/* .yerba{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_yerba{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_yerba:hover{
    transform: scale(1.2,1.2);
}
/* .yerba_kalena{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_yerbakalena{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_yerbakalena:hover{
    transform: scale(1.2,1.2);
}
/* .blend_mate{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_blendmate{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_blendmate:hover{
    transform: scale(1.2,1.2);
}
/* .mermelada{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_mermelada{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_mermelada:hover{
    transform: scale(1.2,1.2);
}
/* .milasoja{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_milasoja{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_milasoja:hover{
    transform: scale(1.2,1.2);
}
/* .tofu {
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_tofu{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_tofu:hover{
    transform: scale(1.2,1.2);
}
/* .yougurt_natural{
    padding-top: 5px;
    border: 2px outset black;
    padding-left: 5rem;
    border-radius: 2rem;
}
.img_yougurtnatural{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 1.25rem;
} */
.img_yougurtnatural:hover{
    transform: scale(1.2,1.2);
}

/* RECOMENDACIONES */
.recomendaciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 
.img_acido_hialuronico{
    width: 15.62rem;
    height: 28.1rem;
    padding-top: 25px;
    padding-bottom: 50px;
}
.img_clorofila{
    width: 15.62rem;
    height: 28.1rem;
    padding-top: 25px;
    padding-bottom: 50px;
}
.lista{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}
.textindex{
    text-align: center;
    text-decoration: black;
    border:  3px solid black;
}
.Local{
    display: grid;
    grid-template-columns: repeat(2,60% 40%);
}
.foto-local{
    width: 100%;
    height: 100%;
}
.Resumen-local{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Formulario{
    width: 100%;
    height: 100%;
}
.celdas-a-rellenar{
    background-color: #e7d49c;
}


/* MEDIA */
@media screen and (max-width: 768px) {
    .img_banner{
        width: 40.625rem;
        height: 12.5rem;
    }
    .productos{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(6, 250px);
    }
}
