@import "../variables/variables";

$nav:(
    derecha: $espacio-derecho,
    centro: $centrar,
    ocupacion: $ocupacion-total,
    tamano: $height-nav,
);
.nav-tex{
    padding-right: map-get($nav, derecha);
}
.divbanner{
    justify-content: map-get($nav, centro);
}
.banner{
    width: map-get($nav, ocupacion);
    height: map-get($nav, tamano);
}

$footer:(
    wid-section: 12.5rem,
    wid-hei: 25px,
    grid: $grid,
    sin-decoracion: $decoracion,
    negro: $negro,
    centro: $centrar,
    letra-imp: bold,
);
.section_footer{
    width: map-get($footer, wid-section);
}
.info_local{
    display: map-get($footer, grid);
}
.img_foot{
    width: map-get($footer, wid-hei);
    height: map-get($footer, wid-hei);
    padding-right: 5px;
}
.info_local a{
    text-decoration: map-get($footer, sin-decoracion);
    color: map-get($footer, negro);
}
.copy{
    text-align: map-get($footer, centro);
    font-weight: map-get($footer, letra-imp);
}