@import "../variables/variables";

$nav:(
    derecha: $espacio-derecho,
    centro: $centrar,
    ocupacion: $ocupacion-total,
    tamano: $height-nav,
);
.nav-tex{
    padding-right: map-get($nav, derecha);
}
.divbanner{
    justify-content: map-get($nav, centro);
}
.banner{
    width: map-get($nav, ocupacion);
    height: map-get($nav, tamano);
}

$footer:(
    wid-section: 12.5rem,
    wid-hei: 25px,
    grid: $grid,
    sin-decoracion: $decoracion,
    negro: $negro,
    centro: $centrar,
    letra-imp: bold,
)